.shrine-tiles{
	display: flex;
	flex-wrap:wrap;
  margin:0;
  padding:0;
}
.shrine-tiles li {
	width: 33%;/* 画像を横に3つ並べる場合 */
	padding:0 5px;/*画像の左右に余白 */
	box-sizing:border-box;
  list-style: none; /* liの謎マーカーを消す */
}
.shrine-tiles li img {
	width:100%;
	max-width:100%; /* 画像のはみだしを防ぐ */
	height: auto; /* 画像の縦横比を維持 */
	object-fit: cover; /* 画像トリム */
}