/* container */
.wrapper{
	width:100%;
	background-color:#fafafa;
}
.wrapper .container{
	max-width:1000px;
	margin:0px auto;
	padding:80px 0px;
}
/* content */
@media (min-width: 992px) {
	.wrapper .container .content {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.wrapper .content-item {
    width:100%;
}
@media (min-width: 992px) {
	.wrapper .content-item {
		width:50%;
	}
}
.wrapper .image{
	display:block;
	max-width:100%;
	margin:0px auto;
}
.wrapper .text{
	padding:50px;
}
.wrapper .text .heading{
	margin:0px 0px 40px 0px;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
}

/* 記事 */
.recommends {
	margin: 0;
	padding: .3rem;
	background-color: #eee;
	font: 1rem 'Fira Sans', sans-serif;
}
.recommends > h1,
.recommend {
	margin: .5rem;
	padding: .3rem;
	font-size: 1.2rem;
}
.recommend {
	background: right/contain content-box border-box no-repeat
	url('/media/examples/rain.svg') white;
}
.recommend > h2,
.recommend > p {
	margin: .2rem;
  font-size: 1rem;
}
.recommend img {
	width:25%;
	max-width:100%; /* 画像のはみだしを防ぐ */
	height: auto; /* 画像の縦横比を維持 */
	object-fit: cover; /* 画像トリム */
}